/* about.qss */

/* All window */
QWidget {
    background-color: #1e1e1e;
    color: #ffffff; 
}

/* Buttons */
QPushButton {
    background-color: #3c6ae7;
    color: #ffffff;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #3159c5;
}

QPushButton:pressed {
    background-color: #263aa9;
}